<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>Zoho Cloud</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link
      rel="stylesheet"
      type="text/css"
      media="screen"
      href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900|Material+Icons"
    />
    <link
      rel="stylesheet"
      type="text/css"
      media="screen"
      href="https://cdn.jsdelivr.net/npm/vuetify@2.0.7/dist/vuetify.min.css"
    />

    <link
      rel="stylesheet"
      href="https://cdn.materialdesignicons.com/2.5.94/css/materialdesignicons.min.css"
    />
    <link rel="manifest" href="manifest.json" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.18.0/axios.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="https://unpkg.com/vuex@3.1.0/dist/vuex.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vuetify@2.0.7/dist/vuetify.min.js"></script>
    <script src="https://unpkg.com/vue-router/dist/vue-router.js"></script>
    <script src="https://d3js.org/d3.v5.min.js"></script>
    <script src="src/index.js"></script>
    <script src="src/dashboard.js"></script>
    <script src="src/content.js"></script>
    <script src="src/card.js"></script>
    <script src="src/details.js"></script>
    <script src="src/graph.js"></script>
    <script src="router/index.js"></script>
  </head>
  <body>
    <div id="app">
      <router-view ></router-view>
  <v-snackbar right top  :timeout="10000"  v-model="snackbar" color="red" > {{errorMsg}}    <v-btn
        dark
        flat
        @click="snackbar=false"
      >Close </btn>    </v-snackbar>
    </div>
  </body>
  <script>
    Vue.use(VueRouter);

    var router = new VueRouter({
      routes
    });
   

 function init(){
    var app = new Vue({
      vuetify: new Vuetify({
  theme: {
    themes: {
      light: {
        primary: '#6600ff',
        secondary: '#ff8466',
        accent: '#ffc72e',
        error: '#3c3463',
        info:'#b4b0c8',
        success:'#f2f0fa'
      },
    },
  },
}),
        router,
	data(){ 
		return {
			errorMsg:"",
			snackbar:false
		}
	  }
    }).$mount('#app');
    router.push("/mutualfunds/tableview");
 }

    function getCookie(name) {
	  var value = "; " + document.cookie;
	  var parts = value.split("; " + name + "=");
	  if (parts.length == 2) return parts.pop().split(";").shift(); 
    }


axios.interceptors.response.use(
function(response) { return response;}, 
function(error) {
    // handle error
    if (error.response) {
                app.errorMsg=error.response.data.message||error.response.data;
                app.snackbar=true;
    }
});

init();

  </script>
<style>
  @font-face {
    font-family: 'gilroybold';
    src: url('assets/gilroy-bold.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'gilroylight';
    src: url('assets/gilroy-light.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'gilroysemibold';
    src: url('assets/gilroy-semibold.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}


.node {
    	opacity: 1;
    }

    .node circle {
      fill: #999;
      cursor: pointer;
    }

    .node text {
      font: 11px;
      cursor: pointer;
    }

    .node--internal circle {
      fill: #555;
    }

    .node--internal text {
      text-shadow: 0 1px 0 #fff, 0 -1px 0 #fff, 1px 0 0 #fff, -1px 0 0 #fff;
    }

    .link {
      fill: none;
      stroke: #555;
      stroke-opacity: 0.4;
      stroke-width: 1.5px;
      stroke-dasharray: 1000;
    }

    .node:hover {
      pointer-events: all;
      stroke: #ff0000;
    }

    .node.highlight {
      fill: red;
    }


</style>  

</html>
